.customLink {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: toRem(8);
  min-height: toRem(32);
  color: var(--headings-and-subheadings);
  padding: 0 toRem(12);
  border: toRem(1) solid var(--border);
  border-radius: toRem(100);

  @include inputHover;

  &__name {
    font-size: toRem(17);
  }

  &--accent {
    color: var(--background-main);
    background: var(--background-button-main);
    border: none;
  }

  // &--reverse {
  //   flex-direction: row-reverse;
  //   gap: toRem(12);
  //   border: none;
  //   background: none;
  // }

  &--default {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    min-height: auto;
    @include linkHover;
  }

  // &--breadcrumbs {
  //   border: none;
  //   background: none;
  //   color: inherit;
  //   padding: 0;
  //   .customLink__name {
  //     font-size: toRem(15);
  //     text-transform: capitalize;
  //   }
  // }

}
