.customLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: toRem(8);
  min-height: toRem(32);
  color: var(--headings-and-subheadings);
  padding: 0 toRem(12);
  border: 1px solid var(--border);
  border-radius: toRem(100);

  &--accent {
    color: var(--background-main);
    background: var(--background-button-main);
  }

  &--reverse {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: toRem(12);
    border: none;
    background: none;
  }

  &__name {
    font-size: toRem(17);
  }
}
