.breadcrumbs {
  display: flex;
  align-items: center;
  gap: toRem(10);
  font-size: toRem(14);

  &__item {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }

  &__current {
    font-size: toRem(15);
    text-transform: capitalize;
  }
}
