.popular {
  padding: toRem(30) 0 toRem(60);

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: toRem(20);
    margin-top: toRem(30);
    @media (max-width: $pc) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
}
