.tableCells {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  gap: toRem(10);
  align-items: center;
  font-size: toRem(11);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: em(0.55);
  background: var(--background-secondary);
  border-bottom: toRem(1) solid var(--border);

  &__cell {
    padding: toRem(8);
  }

  &--userPanel {
    grid-template-columns: 722px 160px 160px 264px 120px;
    .cell_1 {
      flex-basis: toRem(373);
      padding-left: toRem(24);
    }
    .cell_2 {
      flex-basis: toRem(208);
    }
    .cell_3 {
      flex-basis: toRem(208);
    }
    .cell_4 {
      flex-basis: toRem(240);
    }
    .cell_5 {
      flex-basis: toRem(153);
      padding-right: toRem(24);
    }
  }

  &--products {
    grid-template-columns:
     86px
    410px
    122px
    122px
    100px
    73px
    98px
    73px
    122px
    160px;
    align-items: center;
    .cell_1 {
      flex-basis: toRem(550);
      padding-left: toRem(24);
    }
    .cell_2 {
      flex-basis: toRem(80);
    }
    .cell_3 {
      flex-basis: toRem(120);
    }
    .cell_4 {
      flex-basis: toRem(100);
    }
    .cell_5 {
      flex-basis: toRem(60);
    }
    .cell_6 {
      flex-basis: toRem(100);
    }
    .cell_7 {
      flex-basis: toRem(100);
    }
    .cell_8 {
      flex-basis: toRem(180);
      padding-right: toRem(24);
    }
  }
}
