.head {
  display: flex;
  align-items: flex-end;
  gap: toRem(20);
  &__info {
    flex: 0 1 toRem(352);
  }
  &__title {
    font-size: toRem(40);
  }
  &__description {
    font-size: toRem(18);
    line-height: 130%;
    margin-top: toRem(8);
  }
  &__actions {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  &__select {
    flex: 0 1 toRem(238);
  }
  &__switchers {
    display: flex;
    gap: toRem(8);
    align-items: flex-end;
    margin-left: auto;
  }
  &__switcher {
    &--active {
      background: var(--background-button-main);
    }
  }
}
