.productsPanel {
  background: var(--background-secondary);
  border-radius: toRem(12);
  border: toRem(1) solid var(--border);

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(20) toRem(24);
    border-bottom: toRem(1) solid var(--border);
  }

  &__toolbar {
    display: flex;
    align-items: center;
    gap: toRem(12);
  }

  &__summary {
    padding: toRem(4) toRem(12);
    font-size: toRem(12);
    color: var(--background-button-main);
    background: var(--background-button-2);
    border-radius: toRem(100);
  }

  &__rows {
    max-height: toRem(360);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-main) var(--background-secondary);

    &::-webkit-scrollbar {
      width: toRem(6);
    }

    &::-webkit-scrollbar-track {
      background: var(--background-main);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--background-secondary);
      border-radius: toRem(6);
    }
  }
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 30px;
  }
}
