.price {
  display: flex;
  align-items: center;
  gap: toRem(12);

  &__current {
    font-size: toRem(18);
    font-weight: 700;
    line-height: 130%;
    color: var(--headings-and-subheadings);
  }
  &__old {
    font-size: toRem(15);
    line-height: 130%;
  }

  &--productCard {
    .price__current {
      font-size: toRem(24);
    }
  }

  &--catalog {
    .price__current {
      font-size: toRem(18);
    }
    .price__old {
      font-size: toRem(12);
    }
  }
}
