.formSelect {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: toRem(2);

  &__label {
    text-transform: uppercase;
    font-size: toRem(12);
    color: var(--headings-and-subheadings);
  }

  &__select {
    height: 100%;
    min-width: toRem(120);
    padding: toRem(4) toRem(16);
    font-size: toRem(13);
    line-height: var(--line-height-heading);
    border-radius: toRem(16);
    border: toRem(1) solid var(--border);
    @include inputHover;
    background: var(--background-main);
    option {
      color: var(--headings-and-subheadings);
      background-color: var(--background-secondary);
    }

    .formSelect__error & {
      border-radius: toRem(16) toRem(16) 0 0;
    }
  }
}
