.social {
  display: flex;
  gap: toRem(10);
  margin-top: toRem(22);
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: toRem(40);
    height: toRem(40);
    background: var(--background-button-2);
    border-radius: toRem(100);
  }
  &__icon {
    width: toRem(20);
    height: toRem(20);
  }
}
