.catalog {
  padding: toRem(30) 0;

  &__link {
    font-size: toRem(14);
    line-height: 130%;
    color: var(--background-button-main);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: toRem(20);
    margin-top: toRem(30);
  }
}
