.footer {
  padding: toRem(60) 0 0;
  background: var(--background-main);

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: toRem(40);
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
}
