.formError {
  display: inline-flex;
  padding: toRem(6) toRem(10);
  font-size: toRem(12);
  font-weight: 600;
  color: var(--accent-color);
  background: var(--accent-background);
  border-radius: 0 0 toRem(20) toRem(20);
}
