.contacts {
  display: flex;
  flex-direction: column;
  gap: toRem(16);

  &__title {
    font-size: toRem(18);
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
  }

  &__link {
    font-size: toRem(17);
    @include linkHover;
  }
}
