.form {
  &__fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(6);
    padding: toRem(24);
  }
  &__field {
    display: flex;
    gap: toRem(6);
  }

  &__label {
    text-transform: uppercase;
    font-size: toRem(12);
    color: var(--headings-and-subheadings);
  }

  &__tags {
    width: 100%;
  }

  &__tagsList {
    display: flex;
    flex-wrap: wrap;
    max-height: toRem(92);
    overflow: auto;
  }

  &__images {
    width: 100%;
    max-height: toRem(69);
    overflow: auto;
  }

  &__image {
    display: block;
    font-size: toRem(10);
  }
}
