.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  width: 100%;
  background: var(--background-main);

  &__inner {
    display: flex;
    align-items: center;
    padding: toRem(8) toRem(16);
  }

  &__search {
    flex: 1 1 auto;
    margin-left: toRem(28);
  }

  &__panel {
    margin-left: toRem(14);
  }
}
