.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: toRem(20);

  &__title {
    font-size: toRem(40);
    font-weight: var(--font-weight-bold);
   line-height: var(--line-height-heading);
  }
  &__description {
    font-size: toRem(18);
    line-height: var(--line-height-heading);
    margin-top: toRem(8);
  }
}
