.userRow {
  display: grid;
  grid-template-columns: var(--table-users-columns);
  align-items: center;
  gap: toRem(10);
  padding: toRem(8) toRem(24);

  &:not(:last-child) {
    border-bottom: toRem(1) solid var(--border);
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: toRem(12);
  }
  &__avatar {
    width: toRem(32);
    height: toRem(32);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(12);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-button-main);
    background: var(--background-button-2);
    border-radius: 50%;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__email {
    font-size: toRem(14);
    font-weight: 500;
    color: var(--headings-and-subheadings);
  }
  &__meta {
    font-size: toRem(11);
  }
  &__createdAt {
    font-size: toRem(14);
  }
  &__lastLoginAt {
    font-size: toRem(14);
  }
  &__roles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(8);
  }
  &__badge {
    padding: toRem(4) toRem(10);
    text-align: center;
    background: var(--background-2);
    text-transform: lowercase;
    font-size: toRem(11);
    font-weight: 600;
    border-radius: toRem(100);

    &::first-letter {
      text-transform: uppercase;
    }

    &--active {
      color: var(--background-button-main);
      background: var(--background-button-2);
    }
  }

  &__select {
    padding: toRem(6) toRem(12);
    font-size: toRem(14);
    background: var(--background-cards);
    border: toRem(1) solid var(--border);
    border-radius: toRem(100);
  }
}
