.userTableHead {
  display: grid;
  grid-template-columns: var(--table-users-columns);
  align-items: center;
  gap: toRem(16);

  padding: toRem(20) toRem(24);

  font-size: toRem(12);
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--headings-and-subheadings);
}
