.formTextarea {
  display: none;
  &__label {
    font-size: toRem(14);
  }

  &__input {
    display: block;
    margin-top: toRem(8);
    width: 100%;
    min-height: toRem(140);
    padding: toRem(12);
    resize: vertical;
    background: var(--background-main);
    display: none;
  }
}
