.formTextarea {
  &__label {
    font-size: toRem(12);
    text-transform: uppercase;
    color: var(--headings-and-subheadings);
  }

  &__input {
    display: block;
    width: 100%;
    min-height: toRem(140);
    padding: toRem(12);
    resize: vertical;
    font-size: toRem(14);
    background: var(--background-main);
    border: toRem(1) solid var(--border);
    border-radius: toRem(16);
  }
}
