.tableHead {
  display: grid;
  grid-template-columns: var(--table-products-columns);
  gap: toRem(10);
  padding: toRem(8) toRem(24);
  border-bottom: toRem(1) solid var(--border);
  &--users {
    grid-template-columns: var(--table-users-columns);
  }
}
