.userTable {
  &__body {
    max-height: toRem(400);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-main) var(--background-secondary);

    &::-webkit-scrollbar {
      width: toRem(6);
    }

    &::-webkit-scrollbar-track {
      background: var(--background-main);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--background-secondary);
      border-radius: toRem(6);
    }
  }
}
