.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: toRem(40);
  &__column {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  }
  &__title {
    font-size: toRem(18);
    font-weight: 600;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
  }
}
