.row {
  display: grid;
  grid-template-columns: var(--table-users-columns);
  align-items: center;
  gap: toRem(16);
  padding: toRem(10) toRem(24);
  border-top: toRem(1) solid var(--background-button-hover-2);

  @include rowHover;

  &__profile {
    display: flex;
    align-items: center;
    gap: toRem(12);
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 toRem(40);
    height: toRem(40);
    font-size: toRem(14);
   font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    border-radius: 50%;
    color: var(--background-button-main);
    background: var(--background-button-2);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
  }

  &__email {
    font-size: toRem(14);
   line-height: var(--line-height-heading);
    color: var(--headings-and-subheadings);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__meta {
    font-size: toRem(12);
    line-height: var(--line-height-heading);
    color: var(--background-button-main);
  }

  &__createdAt,
  &__lastLoginAt {
    font-size: toRem(13);
    line-height: var(--line-height-heading);
  }

  &__roles {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: toRem(5) toRem(9);
    border-radius: toRem(5);
    font-size: toRem(13);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base);
    color: var(--headings-and-subheadings);
    background: var(--background-button-hover-2);
    white-space: nowrap;
    &--active {
      color: var(--background-button-main);
      background: var(--background-button-2);
    }
  }

  &__option {
    color: var(--headings-and-subheadings);
    background-color: var(--background-secondary);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: toRem(20);
  }
}
